<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975909007038-5t3ak3co37v0ilh9d1bhs388c1edthtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975909007038-5t3ak3co37v0ilh9d1bhs388c1edthtf</string>
	<key>API_KEY</key>
	<string>AIzaSyA4cE0zXYrObh-A9L_NAnVpfOjxK2lsf5U</string>
	<key>GCM_SENDER_ID</key>
	<string>975909007038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-database-8ec7e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-database-8ec7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975909007038:ios:9e55428291098fe992b8ef</string>
</dict>
</plist>